.blog-item {
    display: flex;
    box-shadow: 0 3px 12px rgb(0,0,0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.3s;
    background: #fff;
    margin-bottom: 2rem;
    transition: 0.3s;

    &:hover {
        box-shadow: 0 4px 18px rgb(0,0,0, 0.1);
        transform: translateY(-5px);
    }

    &-left {
        flex: 0 0 200px;
    }
    &-right {
        flex: 1;
        padding: 1rem 2rem;
        word-break: break-all;
    }
}

.blog-detail {
    background: #fff;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;

    &__content {
        margin-top: 1.5rem;
    }

    .comment-list {
        margin-top: 2rem;
        border-top: 1px solid #efefef;
        padding-top: 2rem;
        .list {
          border-top: 1px solid #efefef;
        }
      }
}